.taskAdd {

  &__content {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px 0 40px;

    &-backBtn {
      width: 60%;
    }

    &-form {
      width: 60%;
      overflow: hidden;
      background: #686f70f1;
    }

    &-title {
      text-align: center;
      font-size: 35px;
      padding: 15px 0;
      background: #302929;
      color: #ffffff;
      cursor: default;
    }

    &-row {
      padding: 10px 30px 40px;
    }

    &-inputs {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      gap: 3px;
    }

    &-subtitle {
      color: #ffffff9d;
      font-size: 20px;
      cursor: default;
    }

    &-select {
      background: none;
      outline: none;
      padding: 5px 0;
      color: #ffffff;
      border-bottom: 2px solid #ffffff;
      cursor: pointer;
    }

    &-option {
      color: #ffffff;
      padding: 50px;
      width: 100px;
      background: #686f70f1;
      border: none;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &-li {
      margin-top: 10px;
      display: flex;
      gap: 15px;

      input {
        cursor: pointer;
      }
    }

    &-user {
      color: #ffffff;
      gap: 10px;
      position: relative;
      padding-right: 37px;

      span {
        position: absolute;
        top: 0;
        right: 0;
        color: #8ac4d6;
        font-weight: 600;
        font-size: 10px;
      }
    }

    &-buttons {
      padding-right: 30px;
      padding-bottom: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &-btn {
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      cursor: pointer;
      transition: .3s;
      font-weight: 600;
      background: #302929;
      color: #ffffff;

      &:hover {
        background: #5fb6f0;
      }
    }
  }
}