.guideShow {
  
  &__content {
    padding-top: 30px;
    text-align: center;

    &-buttons {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &-btn {
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      cursor: pointer;
      transition: .3s;
      font-weight: 600;
      background: #302929;
      color: #ffffff;

      &:hover {
        background: #5fb6f0;
      }
    }

    &-tools {
      display: flex;
      gap: 5px;
    }

    &-tool {
      width: 100px;
      padding: 10px 15px;
      border: none;
      border-radius: 10px;
      font-size: 18px;
      cursor: pointer;
      transition: .3s;
      font-weight: 600;
      background: #302929;
      color: #ffffff;

      &:nth-child(3):hover {
        background: #ff0000;
      }

      &:hover {
        background: #5fb6f0;
      }
    }

    &-revisons {
      margin-top: 30px;
      width: 100%;
      text-align-last: left;
      font-size: 12px;
      cursor: default;

      span {
        font-size: 18px;
        font-weight: 700;

        i {
          margin-right: 7px;
        }
      }
    }

    &-title {
      background: linear-gradient(to right, #5b5b5b, #ffffff);
      width: 100%;
      padding-left: 20px;
      margin-top: 10px;
      text-align: left;
      font-size: 40px;
      font-weight: 700;
      cursor: default;
    }

    &-text {
      width: 100%;
      margin-top: 30px;
      text-align: left;
      font-size: 20px;
      cursor: default;
    }
  }
}